adbc_driver_manager==1.4.0
adbc_driver_postgresql==1.4.0
adbc_driver_sqlite==1.4.0
ads==0.12.7
aerospike_vector_search==3.1.0
ain==0.0.2
aiodns==3.2.0
airbyte_cdk==6.27.0
aleph_alpha_client==9.1.0
alibabacloud_ha3engine_vector==1.1.11
alibabacloud_tea_util==0.3.13
anywidget==0.9.13
apify_client==1.8.1
AppKit==0.2.8
arango==0.2.1
arcgis==2.4.0
argilla==2.7.0
arize==7.32.0
arthurai==3.33.1
astrapy==1.5.2
async_timeout==5.0.1
atheris==2.3.0
atlassian==0.0.0
azure_storage==0.37.0
azureml==0.2.7
baidubce==0.8.3
banana_dev==6.3.0
BeautifulSoup==3.2.2
bibtexparser==1.4.3
bigdl==2.4.0
bilibili_api==9.1.0
bokeh==3.6.2
boto3==1.36.7
botocore==1.36.7
brotli==1.1.0
brotlicffi==1.1.0.0
cassio==0.1.10
cchardet==2.1.7
chardet==5.2.0
checks==0.2
chromadb==0.5.5
clarifai_grpc==11.0.6
clickhouse_connect==0.8.15
cloudpathlib==0.20.0
cloudpickle==3.1.1
comet_llm==2.2.7
ConfigParser==7.1.0
confluent_kafka==2.8.0
contextlib2==21.6.0
cryptography==44.0.0
cudf==0.6.1.post1
curio==1.6
cx_Oracle==8.3.0
cycler==0.12.1
Cython==3.0.11
dask==2025.1.0
dask_expr==2.0.0
datadog_api_client==2.31.0
datasets==3.2.0
deepeval==2.2.6
defusedxml==0.7.1
dgml_utils==0.3.4
dingodb==0.0.18
doctran==0.0.14
docutils==0.21.2
docx2txt==0.8
dria==0.0.114
dynamodb_encryption_sdk==3.3.0
e2b==1.0.5
elevenlabs==1.50.5
email_validator==2.2.0
esprima==4.0.1
eval_type_backport==0.2.2
exceptiongroup==1.2.2
extract_msg==0.52.0
fake_useragent==2.0.3
faster_whisper==1.1.1
fastparquet==2024.11.0
feedparser==6.0.11
filelock==3.17.0
firebase_admin==6.6.0
fitz==0.0.1.dev2
flashrank==0.2.10
flytekit==1.14.6
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2024.12.0
geopandas==1.0.1
gitdb_speedups==0.1.0
gliner==0.2.16
google_api_python_client==2.134.0
google_auth_oauthlib==1.2.1
googlemaps==4.10.0
gptcache==0.1.44
gpudb==7.2.2.5
gql==3.5.0
gradientai==1.13.1
grandalf==0.8
greenlet==3.0.3
grpcio==1.64.1
guardrails==2.0.0
gunicorn==23.0.0
h2==4.1.0
hdbcli==2.23.26
hologres_vector==0.0.10
html5lib==1.1
HTMLParser==0.0.2
hypothesis==6.124.7
ibis==3.3.0
ibm_watsonx_ai==1.2.2
importlib_metadata==8.4.0
importlib_metadata==8.0.0
importlib_resources==6.4.0
infinity_client==0.0.74
infinity_emb==0.0.75
InstructorEmbedding==1.0.1
intel_extension_for_transformers==1.4.2
ipython==8.12.3
ipywidgets==8.1.2
isoduration==20.11.0
jaguardb_http_client==3.4.2.3
javelin_sdk==0.2.19
jnius==1.1.0
joblib==1.4.2
JPype1==1.5.2
jq==1.8.0
kdbai_client==1.6.0
keybert==0.8.5
keyring==25.6.0
label_studio_sdk==1.0.8
langchain_anthropic==0.3.4
langchain_astradb==0.5.2
langchain_aws==0.2.11
langchain_chroma==0.2.1
langchain_cohere==0.4.2
langchain_elasticsearch==0.3.2
langchain_experimental==0.3.4
langchain_fireworks==0.2.6
langchain_google_genai==2.0.9
langchain_google_vertexai==2.0.12
langchain_huggingface==0.1.2
langchain_mistralai==0.2.4
langchain_mongodb==0.4.0
langchain_neo4j==0.3.0
langchain_ollama==0.2.2
langchain_openai==0.3.2
langchain_pinecone==0.2.2
langchain_postgres==0.0.12
langchain_qdrant==0.2.0
langchain_together==0.3.0
langchain_weaviate==0.0.3
langchainhub==0.1.21
langsmith_pyo3==0.1.0rc5
lark==1.2.2
laser_encoders==0.0.2
librosa==0.10.2.post1
listparser==0.20
llmlingua==0.2.2
llmonitor==0.0.51
lorax==0.94.86
lxml_html_clean==0.4.1
manticoresearch==4.0.0
mask==1.0.0
matplotlib==3.10.0
mediawikiapi==1.2
metal_sdk==2.5.1
mlx_lm==0.21.1
modelscope==1.22.3
modin==0.32.0
motor==3.6.1
msal==1.31.1
mtrand==0.1
mwparserfromhell==0.6.6
mwxml==0.3.4
nest_asyncio==1.6.0
newspaper==0.1.0.7
nlu==5.4.1
nomic==3.4.1
nucliadb_models==6.2.1.post2992
nucliadb_protos==6.2.1.post2992
numexpr==2.10.2
O365==2.0.38
obs==0.0.0
oci==2.143.1
odfpy==1.4.1
odps==3.5.1
olefile==0.47
openapi_pydantic==0.5.1
openpyxl==3.1.5
optimum==1.23.3
outcome==1.3.0.post0
pdf2image==1.17.0
pdfminer==20191125
pdfplumber==0.11.5
pickle5==0.0.12
pinecone_text==0.9.0
pkgutil_resolve_name==1.3.10
plotly==5.24.1
polars==1.21.0
praw==7.8.1
promptlayer==1.0.37
psutil==5.9.8
psychicapi==0.8.4
py==1.11.0
pyairtable==3.0.1
pycares==4.5.0
pycryptodome==3.21.0
pycurl==7.45.4
pydub==0.25.1
pyepsilla==0.3.13
pygraphviz==1.14
pyinstaller==6.10.0
PyJWT==2.10.1
pymemcache==4.0.0
pymilvus==2.5.4
pymongo==4.11
pyodide==0.0.2
pyOpenSSL==25.0.0
pyowm==3.3.0
pyparsing==3.2.1
pypdf==5.2.0
pypdfium2==4.30.1
pyperf==2.8.1
pyppeteer==2.0.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.8.0
PySide6==6.8.1.1
pyspark==3.5.4
pysqlcipher3==1.2.0
pysrt==1.1.2
pytesseract==0.3.13
pytest==8.3.4
python-decouple==3.8
python_calamine==0.3.1
pyTigerGraph==1.8.4
pytube==15.0.0
pywin32==306
pyxlsb==1.0.10
qcloud_cos==3.3.6
qdrant_client==1.13.2
qianfan==0.4.12.2
QtPy==2.4.1
rank_bm25==0.2.2
rank_llm==0.20.3
rapidfuzz==3.11.0
rapidocr_onnxruntime==1.4.4
rdflib==7.1.3
reportlab==4.2.5
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rizaio==0.7.0
rockset==2.1.2
rspace_client==2.5.0
runhouse==0.0.38
s3fs==2024.12.0
scipy==1.15.1
scipy_doctest==1.6
scrapingant_client==2.1.0
selenium==4.28.1
semantic_version==2.10.0
sets==0.3.2
setuptools==74.0.0
setuptools_scm==8.1.0
simplejson==3.19.2
simsimd==6.2.1
slack_sdk==3.34.0
socksio==1.0.0
sodapy==2.2.0
speechkit==2.2.2
Sphinx==8.1.3
sqlcipher3==0.5.4
sqlite_vec==0.1.6
sqlite_vss==0.1.2
sseclient==0.0.27
stackapi==0.3.1
steamship==2.17.34
steamspypi==1.1.1
svglib==1.5.1
sympy==1.13.2
tables==3.10.2
takeoff_client==0.6.0
telethon==1.38.1
tensorflow_text==2.18.1
text_generation==0.7.0
textractor==0.1.2
thirdai==0.9.26
threadpoolctl==3.5.0
tigrisdb==1.0.0b6
tiktoken==0.8.0
timescale_vector==0.0.7
tokenizers==0.21.0
torch==2.4.1
torch_npu==2.4.0.post2
tqdm==4.66.4
traitlets==5.14.3
tree_sitter==0.24.0
tree_sitter_languages==1.10.2
trubrics==1.6.2
tweepy==4.15.0
upstash_ratelimit==1.1.0
upstash_vector==0.7.0
uri_template==1.3.0
urllib3_secure_extra==0.1.0
uvloop==0.21.0
vearch_cluster==0.0.2
vegafusion==2.0.1
webcolors==1.13
whylogs==1.6.4
wikibase_rest_api_client==0.2.1
wolframalpha==5.1.3
writerai==3.4.0
xarray==2025.1.1
xinference_client==1.2.1
xlrd==2.0.1
xlsxwriter==3.2.1
xmlrpclib==1.0.1
xmltodict==0.14.2
yfinance==0.2.52
youtube_search==2.1.2
youtube_transcript_api==0.6.3
yt_dlp==2025.1.26
zep_python==2.0.2
zstandard==0.23.0
